/**
 * uBet Stylesheet
 * version 1.0
 * last update: 23/04/2016;
 */

/* ***********************
	  	COLOR SHEET 
   *********************** */

body {
	background-color: rgba(68,55,79,1);
}

/* ***********************
	  	 STRUCTURE
   *********************** */

/* 0. Utilities */

.clear { clear: both; }
.hidden { display: none; }
.container { width: 85%; }
.helptext { color: white; }

/* 1. Navbar */
nav {
	background-color: rgb(68,55,79);
}

.nav-wrapper {
	margin: 0 auto;
}

.nav-collapse {
	cursor: pointer;
}

@media (min-width: 992px) {
}


/* 2. Forms */
.form-wrapper { 
	position: relative; 
	height: 100vh;
	background-color: ;
	padding: 1em;
}
.form-wrapper h1 {
	margin: 0; 
	padding-top: 1em;
	margin-bottom: 1em;
	color: white;
	
}
.form-wrapper.form {
	max-width: 600px;
	margin: 0 auto;
}
.form label { color: white; }
.form input { color: rgb(255,230,153); border: none; border-bottom: 2px solid white; }
.form input:focus:not([readonly]) { 
	border-bottom: 2px solid rgb(255,230,153); 
	box-shadow: 0 0 0 0 rgb(255,230,153);
}
.form input[type="submit"] { 
	background-color: rgb(255,230,153);
	color: rgb(0,0,0);
	border-bottom: none;
	border-radius: 15px; 
	box-shadow: none;
	width: 80%;
	margin: 0 auto;
}

.form .btn-flat {
	margin-top: 1em;
	color: rgb(255,230,153);
}

.register-text { margin-top: 5em; color: white; }
.register-text a { color: rgb(255,230,153); }

/* 2. Datepicker */
#signup-form .picker__date-display {
	background-color: rgb(68,55,79);
}
#signup-form .picker__weekday-display {
	background-color: rgba(0,0,0,0.2);
}
#signup-form .picker__footer .btn-flat {
	color: rgb(68,55,79);
}
#signup-form .picker__day--today { color: rgb(68,55,79); font-weight: bold; }
#signup-form .picker__day--selected {
	background-color: rgb(68, 55, 79);
	color: white;
}

/* 3. Group List */
#group-list-controller {
	padding: 0;
	background-color: white;
}
#group-list-controller .row { 
	width: 80%; 
	margin: 0 auto; 
}
#group-list-controller button { 
	border-radius: 0; 
	transition: 0.2s; }
#group-list-controller button.active { 
	font-weight: bold; 
	border-bottom: 2px solid rgb(68,55,79); }
#group-list-wrapper {
	width: 80%;
	margin: 0 auto;
	
}
#group-list-wrapper p { margin: 0; }

#group-list .card-panel { position: relative; }

.group-options {
	position: absolute;
	bottom: 10%;
	right: 0%;
}

.no-groups {
	background-color: white;
	padding: 1em;
}

@media (max-width: 600px) {
	#group-list-controller .row { width: 100%; }
	#group-list-wrapper { width: 93%; }
}

/**
 * FORM STYLE
 */

form li {
	list-style: none;
}


#bet-options {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

@media (max-width: 361px) {
	#bet-options .btn {
		width: 70%;
		margin-bottom: 0.5em;
	}
}

/** 
 * GROUP LIST STYLES
 */

#group-list li {
	cursor: pointer;
}

/**
 * FLOATING ACTION BUTTON
 */


