/**
 * Prototype 1 Stylesheet
 * version 0.1
 * last update: 17/04/2016;
 */

/**
 * UTILITIES
 */

.clear { clear: both; }
.hidden { display: none; }

/**
 * NAVBAR STYLES
 */

.button-collapse, .nav-collapse {
	margin-left: 0.5em;
}

.nav-collapse {
	cursor: pointer;
}

@media (min-width: 992px) {
	#page-title { margin-left: 1em; }
}

/**
 * FORM STYLE
 */

form li {
	list-style: none;
}

#login-form input[type="submit"] {
	margin-left: 1.4em;
}

#signup-btn {
	width: 100%;
	margin-bottom: 0.5em;
}

.btn-wrapper {
	text-align: center;
	margin: 0 auto;
}

.helptext {
	font-size: 0.8em;
}

/** 
 * GROUP LIST STYLES
 */

.group-info { max-width: 50%; }
.group-info h5 { margin-top: 0; }
.group-options { height: inherit; }

#group-list li {
	cursor: pointer;
}

/**
 * FLOATING ACTION BUTTON
 */


