<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<title>{% block app_title %}uBet{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="description" content="Primeiro protótipo do projeto.">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" type="text/css" href="{% static 'ubet/css/materialize.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="{% static 'ubet/css/styles.css' %}">
		
		<script src='https://www.google.com/recaptcha/api.js'></script>

	</head>
	<body>
		<header>
			{% block menu %}
				<nav>
					<div class="nav-wrapper container mobile-container">
  						<a href="#!" class="brand-logo truncate" id="page-title">{% block page_title %}Grupos{% endblock page_title %}</a>
  						{% block menu_action %}
  							<a  href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  						{% endblock menu_action %}

  						<div class="hide-on-med-and-up">
	  						{% if messages %}
	  							<a href="{%url 'user_cp'%}" data-activates='nav-mobile' class="right notifications tooltipped" data-tooltip="{%trans 'There are unread notifications'%}"><i class="material-icons">notifications</i></a>
	  						{% else %}
	  							<a href="" class="right notifications tooltipped" data-tooltip="{% trans 'There are no new notifications' %}"><i class="material-icons">notifications_none</i></a>
							{% endif %}
						</div>
  						
						<ul class="right hide-on-med-and-down">
							<li class="waves-effect">{% trans "Credits" %}: {{ request.user.ubet_user.creditos }}</li>	
				       		<li class="waves-effect"><a  class='tooltipped' href="{% url 'user_cp' %}"
				       		data-tooltip="{% trans 'Verify your info like credits and your groups' %}">{% trans "My profile" %}</a></li>
				       		<li class="waves-effect"><a href="{% url 'list_waiting' %}">{% trans "Groups" %}</a></li>
				       		<li class="waves-effect"><a href="{% url 'group_log' %}">{% trans "Group History" %}</a></li>
				       		<li class="waves-effect"><a href="{% url 'user_cp' %}">{% trans "Notifications " %} ({{ messages|length }})</a></li>
				       		<li class="waves-effect"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
				     	</ul>
						<div class="clear"></div>
				     	<ul id="nav-mobile" class="side-nav">
				     		<li class="waves-effect">{% trans "Credits" %}: {{ request.user.ubet_user.creditos }}</li>
				     		<div class="divider"></div>
				       		<li class="waves-effect"><a href="{% url 'user_cp' %}">{% trans "My profile" %}</a></li>
				       		<li class="waves-effect"><a href="{% url 'list_waiting' %}">{% trans "Groups" %}</a></li>
				       		<li class="waves-effect"><a href="{% url 'group_log' %}">{% trans "Group History" %}</a></li>
				       		<li class="waves-effect"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
				     	</ul>

				     	<!-- essa linha eh necessaria para apagar a message -->
  						{%for message in messages%}{%endfor%}
					</div>
				</nav>
			{% endblock menu %}
		</header>

		<main>
			<div class="hidden" id="toast">{{ toast }}</div>
			{% block main_content %} {% endblock main_content %}

			{% block fab %}
				{% if request.user.is_authenticated %}
					<div class="fixed-action-btn" style="bottom: 45px; right: 24px">
						<a class="ubet-btn btn-flat waves-effect" type="button" href="{% url 'new_group' %}">
							{% trans "Create New Group" %}
						</a>
					</div>
				{% endif %}
			{% endblock fab %}
		</main>

		<footer>
			{% block page_footer %} {% endblock page_footer %}
		</footer>

		<script type="text/javascript" src="{% static 'ubet/js/jquery-2.2.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'ubet/js/materialize.js' %}"></script>
		<script type="text/javascript" src="{% static 'ubet/js/view.js' %}"></script>
	</body>
</html>
