<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		{% load i18n %}
		<title>{% block app_title %}uBet{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="description" content="Primeiro protótipo do projeto.">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" type="text/css" href="{% static 'ubet/css/materialize.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" href="{% static 'ubet/css/styles.css' %}">
		
		<script src='https://www.google.com/recaptcha/api.js'></script>

	</head>
	<body>
		<header>
			{% block menu %}
				<nav>
					<div class="nav-wrapper container">
  						<a href="#!" class="brand-logo truncate" id="page-title">{% block page_title %}Grupos{% endblock page_title %}</a>
  						{% block menu_action %}
  							<a  href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  						{% endblock menu_action %}

  						{% if messages %}
  						<a href="{%url 'user_cp'%}" data-activates='nav-mobile' class="right notifications tooltipped" data-tooltip="{%trans 'There are unread notifications'%}"><i class="material-icons">notifications_none</i></a>
						
						<!-- essa linha eh necessaria para apagar a message -->
  						{%for message in messages%}{%endfor%}
  						{% endif%}

						<ul class="right hide-on-med-and-down">
				       			
				       		<li><a  class='tooltipped' href="{% url 'user_cp' %}"
				       		data-tooltip="{% trans "Verify your info like credits and your groups"%}">{% trans "My profile" %}</a></li>
				       		<li><a href="{% url 'list_all_groups' %}">{% trans "Groups" %}				       				</a></li>
				       		<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
				     	</ul>

				     	<ul id="nav-mobile" class="side-nav">
				       		<li><a href="{% url 'user_cp' %}">{% trans "My profile" %}</a></li>
				       		<li><a href="{% url 'list_all_groups' %}">{% trans "Groups" %}</a></li>
				       		<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
				     	</ul>
					</div>
				</nav>
			{% endblock menu %}
		</header>

		<main>
			<div class="hidden" id="toast">{{ toast }}</div>
			{% block main_content %} {% endblock main_content %}

			{% block fab %}
				{% if request.user.is_authenticated %}
					<div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px">
						<a class="btn-floating btn-large red">
							<i class="waves-effect large mdi-navigation-menu material-icons">add</i>
						</a>
						<ul id="fab-options">
							<li><a class="btn-floating red tooltipped" data-tooltip ='{%trans 'Create new group'%}' href="{% url 'new_group' %}"><i class="material-icons">group_add</i></a></li>
						</ul>
					</div>
				{% endif %}
			{% endblock fab %}
		</main>

		<footer>
			{% block page_footer %} {% endblock page_footer %}
		</footer>

		<script type="text/javascript" src="{% static 'ubet/js/jquery-2.2.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'ubet/js/materialize.js' %}"></script>
		<script type="text/javascript" src="{% static 'ubet/js/view.js' %}"></script>
	</body>
</html>
