{% extends "ubet/base.html" %}
{% load i18n %}
{% block page_title %} {% trans "Betting" %} {% endblock page_title %}

{% block menu_action %} <a href="{% url 'group_info' group.id%}" class="nav-collapse"><i class="material-icons">arrow_back</i></a> {% endblock menu_action %}

{% block main_content %} 
	<div class="card-panel" id="bet-info">
		<div class="container">
			<p>{%trans 'Betting on group' %} <strong>{{group.name}}</strong>.</p>
			<p>{%trans 'The toll is' %}: {{group.bet_value}}.</p>
			

			<form id="bet-position-form" name="betPosition" enctype="multiform/form-data" 
				method="POST" action="{% url 'bet' group.id %}" class="form">
				{% csrf_token %}
				
				{% for p in available %}
					<div class="input-field">
						{% if p %}
								<input id="position-{{forloop.counter}}" type="radio" name="bet_position" value={{ forloop.counter }} class="with-gap" disabled="disabled" required>
								<label for="position-{{ forloop.counter }}" class="btn disabled">{% trans "Position" %} {{ forloop.counter }}: {{p.username}}</label>
						{% else %}
								<input id="position-{{forloop.counter}}" type="radio" name="bet_position" value={{ forloop.counter }} class="with-gap" required>
								<label for="position-{{ forloop.counter }}" class="btn">{% trans "Position" %} {{ forloop.counter }}: {% trans "open" %}</label>
						{% endif %}
					</div>
				{% endfor %}

				<div class="input-field center-align" id="bet-options">
					{%if canBet %}
						<input type="submit" class="btn" value="{% trans 'Confirm' %}" />
					{% else %}
						<button type="submit" disabled="True" id="bet-btn" class="submit-button btn">{{reason}}</button>
					{% endif %}
				</div>
				<a href="{% url 'group_info' group.id %}" class="btn-flat">{% if not new %} {% trans "Cancel" %} {% else %} {% trans "Bet Later" %} {% endif %}</a>	
			</form>
		</div>
	</div>

	{% block fab %} {% endblock %}
	
{% endblock main_content %}