{% extends "ubet/base.html" %}
{% load i18n %}
{% load l10n %}
{% block page_title %} {% trans "Group History" %} {% endblock %}

{% block main_content %}
	<div id="user-history">
		<div class="container">
			<div class="paginator">
				<ul class="pagination">
					{% if not groups.has_previous %}
						<li class="disabled"><i class="material-icons">chevron_left</i></li>
					{% else %}
						<li><a href="{% url 'group_log' page.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li> 
					{% endif %}

					{% for page_number in paginator.page_range %}
						{% if page.number == forloop.counter %}
							<li class="active">{{ page.number }}</li>
						{% else %}
							<li class="waves-effect"><a href="{% url 'group_log' forloop.counter %}">{{ page.number }}</a></li>
						{% endif %}
					{% endfor %}

					{% if not group.has_next %}
						<li class="disabled"><i class="material-icons">chevron_right</i></li>
					{% else %}
						<li><a href="{% url 'group_log' page.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
					{% endif %}
				</ul>
			</div>

			<div class="group-log">
				{% if page %}
					<table class="striped responsive-table">
						<thead>
							<tr>
								<th data-field="id">{% trans "Group" %}</th>
								<th data-field="creation-date">{% trans "Date" %}</th>
								<th data-field="creation-time">{% trans "Time" %}</th>
								<th data-field="group-members">{% trans "Users" %}</th>
								<th data-field="winner">{% trans "Winner" %}</th>
								<th data-field="bet-value">{% trans "Bet Value" %}</th>
								<th data-field="prize">{% trans "Total Prize" %}</th>
							</tr>
						</thead>
						<tbody>
							{% for g in page %}
								<tr>
									<td><a href="{% url 'group_info' g.id %}">{{ g.name }}</a></td>
									<td>{{ g.date_of_birth|date:"SHORT_DATE_FORMAT" }}</td>
									<td>{{ g.date_of_birth|date:"H:i" }}</td>
									<td>{{ g.cur_size }}</td>
									<td>{{ g.winner }}</td>
									<td>{{ g.bet_value }}</td>
									<td>{{ g.get_prize }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>{% trans "You have no groups in your history" %}.</p>
				{% endif %}
			</div>
		</div>
	</div>

	{% block fab %} {% endblock fab %}
{% endblock main_content %}