{% extends "ubet/base.html" %}
{% load i18n %}
{% block page_title %} {{ p_title }} {% endblock page_title %}


{% block menu_action %} <a href="{% url 'list_all_groups' %}" class="nav-collapse"><i class="material-icons">arrow_back</i></a>{% endblock menu_action %}

{% block main_content %}

{% if error_msg %}

	<p>{{ error_msg }}</p>

{% else %}
	<strong>{% trans "Nome do Grupo" %}:</strong> {{ group.name }}
	<p><strong>{% trans "Status" %}:</strong> {{ strinfo }}</p>
	<p><strong>{% trans "Valor da Aposta" %}:</strong> {{ group.bet_value }}</p>
	<p><strong>{% trans "Quantidade de Membros" %}:</strong> {{ group.cur_size }} / {{ group.max_size }}</p>
	<p><strong>{% trans "Data de finalizacao" %}:</strong> {{ group.date_of_death }} </p>
	<!-- {% if group.date_of_death %} -->
	<!-- {% endif %} -->

	<p><strong>{% trans "Membros" %}:</strong>

	<ul>
	{% if users|length < 1 %}
		<li>{% trans "Não há membros nesse grupo" %}.</li>
	{% else %}	
		{% for u in users %}
			<li>{{ u.0 }} ({% trans "posição" %}: {{ u.1 }})</li>
		{% endfor %}
	{% endif %}
	</ul>

	{% if canBet %}
		<form name="bet-form" method="GET" action="{% url 'bet' group.id %}" class="form">
			{% csrf_token %}
			
			<div class="input-field">
				<button type="submit" class="btn waves-effect">{% trans "Apostar" %}</button>
			</div>
		</form>
	{% else %}
		<p>{{warning}}</p>
		<button class="btn disabled">{% trans "Apostar" %}</button>
	{% endif %}


{% endif %}

{% endblock main_content %}