{% extends "ubet/base.html" %}
{% load i18n %}
{% block page_title %} {% trans "Groups" %} {% endblock page_title %}


{% block main_content %}
	<div id="group-list-controller">		
		<div class="container row">
			<a href="{% url 'list_waiting' %}" type="button" class="center-align"><div class="btn-flat waves-effect col s6 {{ waiting_active }}">{% trans "Recent Groups" %}</div></a>
		
			<a href="{% url 'list_my_active_bets' %}" type="button" class="center-align"><div class="btn-flat waves-effect col s6 {{ bets_active }}">{% trans "My bets" %}</div></a>
		</div>
	</div>

	<div id="group-list-wrapper" class="container mobile-container">
		{% if grupos %}
			<ul id="group-list">
				{% for g in grupos %}
					<li onclick="window.location.href= '{% url 'bet' g.id %}' ">
						<div class="card-panel z-depth-5">
							<div class="group-info left">
								<h5 class="group-name">{{g.name}}</h5> 
								<p><strong>{% trans "Members:" %}</strong> {{ g.cur_size }} / {{ g.max_size }}</p>
								<p><strong>{% trans "Time left:" %}</strong> {{g.time_left}}m</p>
								<p><strong><font color='red'>{% trans "Value:" %} {{ g.bet_value }}</font></strong>	</p>
							</div>
							
							<div class="group-info ">
								<div class=" right"> <strong> {%trans 'Creator:'%} </strong> {{g.creator}}</h5> 
							</div>

							<div class="group-options">
								<a href="{% url 'group_info' g.id%}" class="btn-flat right">{% trans "Bet Here" %}</a>
							</div>
						
							<div class="clear"></div>
						</div>
					</li>
				{%endfor%}
			</ul>
		{% else %}
			<div class="card-panel center">
				{% if not groups %}
					{% if waiting %}
						<p>{% trans "There are no active groups or you are participating in all active groups. Why don't you" %} <a href="{% url 'new_group' %}">{% trans "start a new one" %}?</a></p>

						<a href="{% url 'new_group' %}"><button type="button" class="waves-effect btn-large ubet-btn">{% trans "Create new group" %}</button></a>
					{% else %}
						<p>{% trans "You didn't bet in any groups." %} <a href="{% url 'list_waiting' %}">{% trans "Why don't you take a look at the active groups?" %}</a></p>

						<a href="{% url 'new_group' %}"><button type="button" class="waves-effect btn-large ubet-btn">{% trans "Create new group" %}</button></a>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
		
	</div>
	
{% endblock main_content %}