{% extends "ubet/base.html" %}
{% load i18n %}
{% block page_title %} {% trans "Groups" %} {% endblock page_title %}


{% block main_content %}
	<div id="group-list-controller">
		<div class="row">
			<button type="button" class="btn-flat col s6 active">{% trans "All" %}</button>
			<button type="button" class="btn-flat col s6">{% trans "My Bets" %}</button>
		</div>
	</div>
	<div id="group-list-wrapper">
		{% if grupos %}
			<ul id="group-list">
				{% for g in grupos %}
					<li onclick="window.location.href= '{% url 'group_info' g.id %}' ">
						<div class="card-panel">
							<div class="group-info left">
								<h5 class="group-name">{{g.name}}</h5> 
								<p><strong>{% trans "Members:" %}</strong> {{ g.cur_size }} / {{ g.max_size }}</p>
								<p><strong>{% trans "Value:" %}</strong> {{ g.bet_value }}</p>
								<p>{% trans "The group ends in 10 minutes." %}</p>
							</div>
							
							<div class="group-options">
								<a href="{% url 'group_info' g.id%}" class="btn-flat">{% trans "More" %}</a>
							</div>
						
							<div class="clear"></div>
						</div>
					</li>
				{%endfor%}
			</ul>
		{% else %}
			<div class="card-panel">
				<p>{% trans "There are no active groups." %}</p>
			</div>
		{% endif %}
		
	</div>
	
{% endblock main_content %}