{% extends "ubet/base.html" %}
{% load i18n %}
{% block menu %} {% endblock menu %} 
{% load static %}
{% block main_content %}
	<div class="container mobile-container">
		<div class="form-wrapper">
			<h1 id="login-title" class="center-align">{% trans "Welcome to uBet!" %}</h1>


	<!-- <a href= {% url 'logout'%}> logout </a> <br> -->
	<!-- <a  href= {% url 'signup' %}> Criar conta</a> -->
			
	<form action="{% url 'login' %}" method="POST" name="login-form" class="form" id="login-form">
		{% csrf_token %}
		<div class="center-align">
		<a href="/pt-br/"><img src="{%static 'ubet/img/br.jpg'%}" /></a> 
		<a href="/en/"><img src="{%static 'ubet/img/en.png'%}" /></a> 



				{% csrf_token %}

				<ul id="form-fields">
					{% for field in form %}
						<li>{{ field.errors }}</li>
						<li>
							<div class="input-field">
								{% if field.help_text %}
									<p>{{ field.help_text }}</p>
								{% endif %}
								{{ field.label_tag }}
								{{ field }}
								
							</div>
						</li>
					{% endfor %}
				</ul>

				</center>

				<div class="input-field center-align">
					<input type="submit" value="Login" class="submit-button btn" id="login-btn">
				</div>

	
			</form>

			<p class="register-text center-align">{% trans "Doesn't have an account?" %} <a href="{% url 'signup' %}">{% trans "Register here!" %}</a></p>
		</div>
	</div>
{% endblock main_content %}	
