{% extends "ubet/base.html" %}
{% load i18n %}
{% block menu %} {% endblock menu %} 
{% load static %}
{% block main_content %}
	<div class="container">
		<div class="form-wrapper">
			<h1 id="login-title" class="center-align">{% trans "Welcome to uBet!" %}</h1>


	<!-- <a href= {% url 'logout'%}> logout </a> <br> -->
	<!-- <a  href= {% url 'signup' %}> Criar conta</a> -->
			
	<form action="{% url 'login' %}" method="POST" name="login-form" class="form" id="login-form">
		{% csrf_token %}
		<div class="center-align">
		<a href="/pt-br/"><img src="{%static 'ubet/img/br.jpg'%}" /></a> 
		<a href="/en/"><img src="{%static 'ubet/img/en.png'%}" /></a> 



				{% csrf_token %}

				<ul id="form-fields">{{ form.as_ul }}</ul>

				<center><div class="g-recaptcha" data-sitekey="6Ld3zx4TAAAAALiGsdo6DCDy9-6noYYabMbwaZh6"></div></center>

				<div class="input-field center-align">
					<input type="submit" value="Login" class="submit-button btn" id="login-btn">
				</div>

	
			</form>

			<p class="register-text center-align">{% trans "Doesn't have an account?" %} <a href="{% url 'signup' %}">{% trans "Register here!" %}</a></p>
		</div>
	</div>
{% endblock main_content %}	
