{% extends "ubet/base.html" %}
{% load i18n %}
{% block menu %} {% endblock menu %}

{% block main_content %}
	<div class="container mobile-container">
		<div class="form-wrapper">
			<h1 class="center-align">{% trans "New Group " %}</h1>

			 
			<form enctype="multipart/form-data"  action="{% url 'new_group' %}" method="POST" name="signup-form" class="form" id="newgroup_form">
				{% csrf_token %}
		
				<ul id="form-fields">
					{% for field in form %}
						<li>{{ field.errors }}</li>
						<li>
							<div class="input-field">
								{% if field.help_text %}
									<p>{{ field.help_text }}</p>
								{% endif %}
								{{ field.label_tag }}
								{{ field }}
								
							</div>
						</li>
					{% endfor %}
				</ul>				

				<div class="input-field center-align">
					<input type="submit" value="{% trans 'Create Group' %}"  class="submit-button btn" id="newgroup-btn">

					<a href="{% url 'list_waiting' %}" class="btn-flat">{% trans "Cancel" %}</a>
				</div>
			</form>
		</div>	

		{% block fab %} {% endblock fab %}
	</div>
{% endblock %}

