{% extends "ubet/base.html" %}

{% block menu %} {% endblock menu %}

{% block main_content %}
	<main class="container">
		<h1 class="center-align">Novo Grupo</h1>
		<div class="hidden" id="toast">{{ toast }}</div>

		<div class="form-holder"> 
			<form enctype="multipart/form-data"  action="{% url 'new_group' %}" method="POST" name="signup-form" class="form">
				{% csrf_token %}

				<ul id="form-fields">{{ form.as_ul }}</ul>				

				<div class="btn-wrapper">
					<input type="submit" value="Concluir" class="submit-button btn" id="signup-btn">
					
					<a href="{% url 'list_all_groups' %}" class="btn" id="signup-btn">Cancelar</a>
				</div>
			</form>

		</div>	
	</main>
{% endblock %}

