{% extends "ubet/base.html" %}
{% load i18n %}
{% block menu %} {% endblock menu %}

{% block main_content %}
	<div class="container">
		<div class="form-wrapper">
			<h1 class="center-align">{% trans "Sign Up" %}</h1>

			<form enctype="multipart/form-data"  action="{% url 'signup' %}" method="POST" name="signup-form" class="form" id="signup-form">
				{% csrf_token %}

				<ul id="form-fields">{{ form.as_ul }}</ul>				

				<div class="input-field center-align">
					<input type="submit" value="{% trans 'Submit' %}"  class="submit-button btn" id="signup-btn">

					<a href="{% url 'login' %}" class="btn-flat">{% trans "Cancel" %}</a>
				
					
				<div class="g-recaptcha" data-sitekey="6Ld3zx4TAAAAALiGsdo6DCDy9-6noYYabMbwaZh6"></div>
				</div>	
			</form>
		</div>	
	</div>
{% endblock %}

