{% extends "ubet/base.html" %}

{% block page_title %} Meu Perfil {% endblock %}

{% block main_content %}
	<ul>
		<li><strong>Apelido:</strong> {{ user.first_name }}</li>
		<li><strong>Nome Completo:</strong> {{ user.ubet_user.full_name }}</li>
		<li><strong>E-mail:</strong> {{ user.email }}</li>
		<li><strong>Data de Nascimento:</strong> {{ user.ubet_user.date_of_birth|date:"d/m/Y" }}</li>
		<li><strong>Cadastrado desde</strong> {{ user.date_joined|date:"d/m/Y" }}</li>
	</ul>

	<ul>
		<li><strong>Créditos:</strong> {{ user.ubet_user.creditos }}</li>
		<li><strong>Meus grupos:</strong></li>
		<ul>
			{% for g in user_groups %}
				<li><a href="{% url 'group_info' %}?g_id={{g.id}}">{{ g.name }}</a></li>
			{% endfor %}
	</ul>




{% endblock main_content %}

