{% extends "ubet/base.html" %}
{% load i18n %}
{% load l10n %}
{% block page_title %} {% trans "My profile" %} {% endblock %}

{% block main_content %}
	<div id="user-profile">
		<div class="container">
			<h5>{% trans "Hello" %}, {{ user }}!</h5>

			<ul>
				<li><strong>{% trans 'Full name' %}:</strong> {{ user.first_name }}</li>
				<li><strong>{% trans 'E-mail' %}:</strong> {{ user.email }}</li>
				<li><strong>{% trans 'Birthdate' %}:</strong> {{ user.ubet_user.date_of_birth }}</li>
				<li><strong>{% trans 'Date Joined' %}:</strong> {{ datejoined }}</li>
			</ul>

			<p><strong>{% trans 'Credits' %}:</strong> {{ user.ubet_user.creditos }}</p>

			<div class="divider"></div>

			{% if notification %}
				<h5>{% trans 'Recent results' %}</h5>

				<ul class="collection">
					{% for n in notification %}
						<a class='collection-item dismissable' href="{% url 'notification' n.id %}">{{ n.group.name }}</a>
					{% endfor %}
				</ul>

				<div class="divider"></div>
			{% endif %}
			
			<h5>{% trans 'History' %}</h5>

			<ul class="collection">
				{% for g in user_groups|slice:":10" %}
					<a class="collection-item" href="{% url 'group_info' g.id %}">
						{{ g.name|truncatechars:12 }} 
						
							<span class="hide-on-med-and-down">
								<i class="material-icons">person</i> {{ g.cur_size }}
								<i class="material-icons">toll</i> {{ g.bet_value }}
								<i class="material-icons">date_range</i> {{ g.date_of_birth|date:"SHORT_DATE_FORMAT"}}
								{% if g.winner %} 
									 <i class="material-icons">star</i> {{ g.winner }}
								{% endif %}
							</span>
							<p class="hide-on-med-and-up">ver mais</p>
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock main_content %}

